<html>
  <body>
    <h1>hello world chef!!! JJcanada</h1>
    <h1>hello from <%= node['fqdn'] %></h1>
    <p>Atribute <b>hostname</b> is <%= node['hostname'] %> </p>
  <p>Atribute <b>hostnamectl.operating_system</b> is <%= node['hostnamectl.operating_system'] %> </p>
<p>Atribute <b>cloud.provider</b> is <%= node['cloud.provider'] %> </p>

  </body>
</html>
